.content-holder {
    width: 100%;
}

.label-content .title {
    font-size: 40px;
    font-weight: 700;
}

.label-content .desc {
    font-size: 17px;
}

.modal .modal-frame .modal-body .tab-content .drop.hovering {
    color: black;
    border-color: black;
}

.modal .modal-frame .modal-body .tab-content {
    display: none;
}

.modal .modal-frame .modal-body .tab-content.active {
    display: block;
}

input[type='file'] {
    display: none;
}