<div class="container-holder flex flex-middle flex-center ">
    <div class="frame">
        <div class="title">
            <h1>
                Upload image
            </h1>
        </div>
        <div class="file-holder drop-zone" (click)='onSelectPhoto()'>
            <label class="flex flex-middle flex-center" for="file-upload"> 
            <span class="lnr lnr-cloud-upload"></span> 
            <span>
            Choose picture
            </span>
          </label>
        </div>
        <button class="submit">
        CONVERT
      </button>
    </div>
</div>

<div class="modal flex flex-middle flex-center" data-name="file-upload">
    <div class="modal-frame flex flex-col">
        <div class="flex flex-col content-holder flex-grow-full">
            <div class="modal-header">
                <ul>
                    <li>
                        <a href="#" class="active title tab-title">Upload</a>
                    </li>
                    <li>
                        <a href="#" class="title tab-title" (click)='startStreaming()'>Take new picture</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body flex-grow flex">
                <div class="tab-content flex-grow active flex " data-name='upload'>
                    <app-filedrop class="flex-grow-full" (dragFileAccepted)="uploadfile( $event.file ) " (hoverIn)='hoverIn()' (hoverOut)='hoverOut()'>
                        <label for="file" class="drop flex flex-middle flex-center flex-grow-full" [ngClass]='{"hovering":hovering}'>
                            <div class="flex flex-col label-content flex-grow-full" >
                                    <span class="lnr lnr-cloud-upload"></span>                     
                                    <span class='title'>DRAG & DROP</span>
                                    <p class='desc'>your files to Assets or browse</p>
                            </div>
                        </label>
                        <input type="file" id='file'>
                    </app-filedrop>
                </div>
                <div class="tab-content start-camera flex flex-col">
                    <div class="camera">
                        <video id="video" class="camera_stream" width="496" [hidden]='isPictureTaken'>Video stream not available.</video>
                        <img class="photo" alt="" [hidden]='!isPictureTaken'>
                    </div>
                    <canvas></canvas>
                    <div class="user-operations">
                        <div class="flex flex-between">
                            <div [hidden]='isPictureTaken'>
                                <button (click)='takePicture()' class="button-style blue">Take picture</button>
                            </div>
                            <div [hidden]='!isPictureTaken'>
                                <button (click)='takePicture()' class="button-style blue">Retake picture</button>
                            </div>
                            <div [hidden]='!isPictureTaken'>
                                <button (click)='takePicture()' class="button-style blue">Upload</button>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-content">
                    <input type="file" accept="image/*;capture=camera">
                </div>
            </div>
            <div class="close" (click)='onSelectPhoto()'>
                <span class="lnr lnr-cross"></span>
            </div>
        </div>
    </div>
</div>