<div class="container">
    <div class="content-holder">
        <div class="heading">
            <h1>
                My saved notes
            </h1>
        </div>

        <div class="notes-list">
            <div class="note flex">
                <div class="note-preview" style='background-image:url("https://i.imgur.com/Jlu68Uw.jpg")'>
                </div>
                <div class="note-desc">
                    <div class="details flex flex-col flex-between">
                        <div class="title">
                            <h1>Title1</h1>
                        </div>
                        <div class="date">
                            <p>24.02.12</p>
                        </div>
                    </div>
                    <div class="operations">

                    </div>
                </div>
            </div>
            <div class="note flex">
                <div class="note-preview" style='background-image:url("https://i.imgur.com/Jlu68Uw.jpg")'>
                </div>
                <div class="note-desc">
                    <div class="details flex flex-col flex-between">
                        <div class="title">
                            <h1>Title1</h1>
                        </div>
                        <div class="date">
                            <p>24.02.12</p>
                        </div>
                    </div>
                    <div class="operations">

                    </div>
                </div>
            </div>
            <div class="note flex">
                <div class="note-preview" style='background-image:url("https://i.imgur.com/Jlu68Uw.jpg")'>
                </div>
                <div class="note-desc">
                    <div class="details flex flex-col flex-between">
                        <div class="title">
                            <h1>Title1</h1>
                        </div>
                        <div class="date">
                            <p>24.02.12</p>
                        </div>
                    </div>
                    <div class="operations">

                    </div>
                </div>
            </div>
            <div class="note flex">
                <div class="note-preview" style='background-image:url("https://i.imgur.com/Jlu68Uw.jpg")'>
                </div>
                <div class="note-desc">
                    <div class="details flex flex-col flex-between">
                        <div class="title">
                            <h1>Title1</h1>
                        </div>
                        <div class="date">
                            <p>24.02.12</p>
                        </div>
                    </div>
                    <div class="operations">

                    </div>
                </div>
            </div>
            <div class="note flex">
                <div class="note-preview" style='background-image:url("https://i.imgur.com/Jlu68Uw.jpg")'>
                </div>
                <div class="note-desc">
                    <div class="details flex flex-col flex-between">
                        <div class="title">
                            <h1>Title1</h1>
                        </div>
                        <div class="date">
                            <p>24.02.12</p>
                        </div>
                    </div>
                    <div class="operations">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>