.note {
  background: white;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 3px 31px -8px rgba(0, 0, 0, 0.41);
  margin-bottom: 20px;
  overflow: hidden;
}

#note-content{
  position: relative;
  
}