@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

/*=============================================
=            FLexbox            =
=============================================*/


/*Flexbox CSS*/

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
}

.flex-center {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.flex-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
}

.flex-top {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.flex-middle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.flex-bottom {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.flex-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.flex-between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.flex-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
}

.flex-last {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.flex-content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-align-right {
    margin-left: auto;
}

.flex-align-left {
    margin-right: auto;
}

.flex-align-top {
    margin-bottom: auto;
}

.flex-align-bottom {
    margin-top: auto;
}


/*=====  End of FLexbox  ======*/


/*=============================================
=            Common            =
=============================================*/

body {
    font-family: "Lato", sans-serif;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    overflow-x: hidden;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

a,
a:focus,
a:visited,
a:hover {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1270px;
    margin: 0 auto;
}

.heading h1 {
    font-size: 40px;
    color: white;
    font-weight: 300;
    margin-bottom: 40px;
}


/*=====  End of Common  ======*/

.container-holder {
    height: 100vh;
    width: 100vw;
}

.container-holder .frame .title h1 {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 58px;
}

.container-holder .frame .drop-zone label {
    min-width: 400px;
    display: block;
    height: 110px;
    border: 2px dashed white;
    border-radius: 30px;
    margin-top: 35px;
    cursor: pointer;
    color: white;
    font-weight: 300;
    font-size: 22px;
    line-height: 110px;
}

.container-holder .frame .drop-zone label .lnr {
    font-size: 30px;
    vertical-align: sub;
    margin-right: 5px;
}

.container-holder .frame .drop-zone input[type="file"] {
    display: none;
}

.container-holder .frame .submit {
    font-size: 19px;
    margin-top: 15px;
    border-radius: 30px;
    background: white;
    color: #43aedb;
    border: none;
    padding: 15px;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2121;
    top: 0;
    left: 0;
}

.modal .modal-frame {
    position: relative;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    min-width: 500px;
    min-height: 300px;
}

.modal .modal-frame .modal-header {
    position: relative;
}

.modal .modal-frame .modal-header ul {
    text-align: left;
}

.modal .modal-frame .modal-header ul:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    height: 2px;
    width: calc(100% + 40px);
    background-color: #f9f9f9;
}

.modal .modal-frame .modal-header ul>li {
    display: inline-block;
    text-decoration: none;
    margin-left: -4px;
}

.modal .modal-frame .modal-header ul>li:first-child {
    margin-left: 0;
}

.modal .modal-frame .modal-header ul>li a {
    position: relative;
    display: block;
    padding: 8px 17px 15px;
    border-bottom: 2px solid transparent;
    transition: 0.4s ease;
    z-index: 2;
}

.modal .modal-frame .modal-header ul>li a.active {
    border-bottom: 2px solid #0093e9;
    color: #0093e9;
}

.modal .modal-frame .modal-body {
    padding-top: 20px;
    height: 100%;
}

.modal .modal-frame .modal-body .tab-content .drop {
    height: 100%;
    border: 2px dashed #f0f0f0;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 300;
    font-size: 22px;
    color: #cdcbcb;
    transition: 0.4s;
}

.modal .modal-frame .modal-body .tab-content .drop:hover {
    border-color: #d6d5d5;
}

.modal .modal-frame .modal-body .tab-content .drop .lnr {
    font-size: 55px;
    vertical-align: sub;
    margin-right: 5px;
}

.modal .modal-frame .close {
    position: absolute;
    right: 0;
    top: -45px;
    color: white;
    font-size: 35px;
    opacity: 0.8;
    cursor: pointer;
}

.modal .modal-frame .close:hover {
    opacity: 1;
}

.flex-grow-full {
    flex: 1;
    height: 100%;
}

.button-style {
    font-size: 16px;
    position: relative;
    display: block;
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
    transition: 0.4s ease;
    z-index: 2;
    background: none;
    border: none;
    border: 2px solid #0093e9;
    border-radius: 12px;
    color: #0093e9;
}

.button-style.blue {
    color: #0093e9;
    border: 2px solid #0093e9;
}

.content-holder {
    margin-top: 130px;
}